@import "@styles/style.css";
.input {
  border-radius: var(--radius);
  border: 1px solid var(--color-Border);
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 17px 75px 17px 12px;
  margin-right: 10px;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}
.input-group_input {
  flex-grow: 1;
}

.input::placeholder {
  color: var(--color-Hint);
}

.input:focus {
  border-color: var(--color-accent);
}

.input:disabled {
  background: var(--color-body);
  border-color: var(--color-Border);
  color: var(--color-Hint);
}
.btn-search {
  background: var(--color-accent);
  border: 0;
  outline: 0;
  border-radius: var(--radius);
  padding: 16px;
}

.btn-search:hover {
  cursor: pointer;
  opacity: 0.5;
}

.btn-search:disabled {
  background: var(--color-Border);
  cursor: auto;
  opacity: 1;
}
.grid {
  display: grid;
}
.grid > .grid--1x2 {
  grid-template-columns: 2fr 1fr;
}
.grid--1x2 {
  margin: 20px 0 30px 0;
}

.grid--1x3 {
  gap: 15px;
}
.link {
}
@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
