@import "@styles/style.css";
.input {
  border-radius: var(--radius);
  border: 1px solid var(--color-Border);
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 17px 75px 17px 12px;
  margin-right: 10px;
}

.input-group {
  display: flex;
}
.input-group_input {
  flex-grow: 1;
}

.input::placeholder {
  color: var(--color-Hint);
}

.input:focus {
  border-color: var(--color-accent);
}

.input:disabled {
  background: var(--color-body);
  border-color: var(--color-Border);
  color: var(--color-Hint);
}
