html {
  font-size: 62.5%;
}

:root {
  --color-accent: #ff5555;
  --color-background: #fff;
  --color-body: #e5e5e5;
  --color-Border: #d9d9d9;
  --color-default: #000;
  --color-Hint: #7e7e7e;
  --color-linkHover: #208fbf;
  --color-starAccent: #ff9432;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Defining typography*/
body {
  background: var(--color-body);
  font-family: "Roboto", sans-serif;
}

h4 {
  font-weight: bold;
  font-size: 1.6rem;
}

/*input*/
.input {
  border-radius: 6px;
  border: 1px solid var(--color-Border);
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  outline: 0;
  padding: 1.7rem 7.5rem 1.7rem 1.2rem;
  margin-right: 1rem;
}

.input-group {
  display: flex;
}
.input-group .input {
  flex-grow: 1;
}

::placeholder {
  color: var(--color-Hint);
}

.input:focus {
  border-color: var(--color-accent);
}

.input:disabled {
  background: var(--color-body);
  border-color: var(--color-Border);
  color: var(--color-Hint);
}
