<div class="card card-primary">
    <div class="icon-container icon_content_txt icon-accent">K</div>
    <div class="card-body">
        <h4 class="card-heading">kts-school-frontend</h4>
        <div class="card-link"> <a href="#">ktsstudio</a></div>
        <div class ="card-content">
          <span><svg class="icon">
            <use xlink:href="icons/sprite1.svg#star"></use>
              </svg>   </span>  
        <span class="card-content_txt">  123 &ensp; Updated 21 Jul </span>
    </div>
</div>
</div>