<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>hw</title>
</head>
<body>
  
    <div class="grid grid--1x2">
        <div class="input-group">
            <input  type="text" class="input input-group_input" placeholder="Введите название организации">
                   <button class="btn-search"> <svg class="btn-search_icon">
                <use xlink:href="../icons/sprite1.svg#search"></use>
              </svg>
            </button>
        </div>

    </div>


    <div class="grid grid--1x3">

        <div class="card card-primary">
            <div class="icon-container icon_content_txt icon-accent">K</div>
            <div class="card-body">
                <h4 class="card-heading">kts-school-frontend</h4>
                <div class="card-link"> <a class="card-link_txt " href="#">ktsstudio</a></div>
                <div class ="card-content card-content_txt">
                  <span><svg class="icon card-content_icon">
                    <use xlink:href="../icons/sprite1.svg#star"></use>
                      </svg>   </span>  
                <span >  123 &ensp; Updated 21 Jul </span>
            </div>
        </div>
        </div>

        <div class="card card-primary">
            <div class="icon-container icon_content_txt icon-accent">K</div>
            <div class="card-body">
                <h4 class="card-heading">kts-school-frontend</h4>
                <div class="card-link"> <a class="card-link_txt " href="#">ktsstudio</a></div>
                <div class ="card-content card-content_txt">
                  <span><svg class="icon card-content_icon">
                    <use xlink:href="../icons/sprite1.svg#star"></use>
                      </svg>   </span>  
                <span>  123 &ensp; Updated 21 Jul </span>
            </div>
        </div>
        </div>

        <div class="card card-primary">
            <div class="icon-container icon_content_txt icon-accent">K</div>
            <div class="card-body">
                <h4 class="card-heading">kts-school-frontend</h4>
                <div class="card-link"> <a class="card-link_txt " href="#">ktsstudio</a></div>
                <div class ="card-content card-content_txt">
                  <span><svg class="icon card-content_icon">
                    <use xlink:href="../icons/sprite1.svg#star"></use>
                      </svg>   </span>  
                <span>  123 &ensp; Updated 21 Jul </span>
            </div>
        </div>
        </div>

        <div class="card card-primary">
            <div class="icon-container icon_content_txt icon-accent">K</div>
            <div class="card-body">
                <h4 class="card-heading">kts-school-frontend</h4>
                <div class="card-link"> <a class="card-link_txt " href="#">ktsstudio</a></div>
                <div class ="card-content card-content_txt">
                  <span><svg class="icon card-content_icon">
                    <use xlink:href="../icons/sprite1.svg#star"></use>
                      </svg>   </span>  
                <span>  123 &ensp; Updated 21 Jul </span>
            </div>
        </div>
        </div>

        <div class="card card-primary">
            <div class="icon-container icon_content_txt icon-accent">K</div>
            <div class="card-body">
                <h4 class="card-heading">kts-school-frontend </h4>
                <div class="card-link"> <a class="card-link_txt " href="#">ktsstudio</a></div>
                <div class ="card-content card-content_txt">
                  <span><svg class="icon card-content_icon">
                    <use xlink:href="../icons/sprite1.svg#star"></use>
                      </svg>   </span>  
                <span>  123 &ensp; Updated 21 Jul </span>
            </div>
        </div>
        </div>

        <div class="card card-primary">
            <div class="icon-container ">
                <img class="icon-content_img" src="../img/user1.png" alt="user image"></div>
            <div class="card-body">
                <h4 class="card-heading">kts-school-frontend</h4>
                <div class="card-link"> <a class="card-link_txt " href="#">ktsstudio</a></div>
                <div class ="card-content card-content_txt ">
                  <span><svg class="icon card-content_icon">
                    <use xlink:href="../icons/sprite1.svg#star"></use>
                      </svg>   </span>  
                <span>  123 &ensp; Updated 21 Jul </span>
            </div>
        </div>
        </div>

 
    
    </div>

</body>
</html>